<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Reppora for Coach"
        android:icon="@mipmap/ic_launcher_reppora_coach">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="reppora-coach" />
            </intent-filter>
        </activity>
    </application>
</manifest>
